{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
  ]
%}

{{ attach_library('whirlwind_theme/mobile-menu') }}

{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="mobile-navigation-logo--normal">
      <a href="/" class="mobile-logo">Home</a>
    </div>

    <div class="mobile-navigation-button">
      <button class="mobile-navigation-button__toggle" aria-expanded="false">
        <span class="icon"></span>
        <span class="label">Menu</span>
      </button>
    </div>

    <div class="region-mobile-navigation__content" aria-hidden="true" >

      <div class="mobile-navigation-logo--white">
        <a href="/" class="mobile-logo">Home</a>
      </div>

      <div class="mobile-navigation-button">
        <button class="mobile-navigation-button__toggle" aria-expanded="false">
          <span class="icon"></span>
          <span class="label">Menu</span>
        </button>
      </div>

      {{ content }}
    </div>

  </div>
{% endif %}
