{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}

{%-
  set body_classes = [
  logged_in ? 'user-logged-in',
  not logged_in ? 'user-logged-out',
  not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
  not root_path ? 'front' : 'not-front',
  node_type ? 'page-node-type-' ~ node_type|clean_class,
  db_offline ? 'db-offline',
  language ? 'lang-' ~ language|clean_class,
  ]
-%}

<!DOCTYPE html>
<html{{ html_attributes.addClass('no-js') }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
      <title>{{ head_title|safe_join(' | ') }}</title>

      <!-- Touch icons begin -->
      <link rel="apple-touch-icon" sizes="180x180" href="/themes/custom/base/touch-icons/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/themes/custom/base/touch-icons/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/themes/custom/base/touch-icons/favicon-16x16.png">
      <link rel="manifest" href="/themes/custom/base/touch-icons/manifest.json">
      <link rel="mask-icon" href="/themes/custom/base/touch-icons/safari-pinned-tab.svg" color="#004174">
      <link rel="shortcut icon" href="/themes/custom/base/touch-icons/favicon.ico">
      <meta name="msapplication-config" content="/themes/custom/base/touch-icons/browserconfig.xml">
      <meta name="theme-color" content="#ffffff">
      <!-- Touch icons end -->
      <link href="https://fonts.googleapis.com/css?family=Domine:400,700" rel="stylesheet">
      <link rel="stylesheet" href="https://use.typekit.net/oiy7omv.css">

    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
  </head>
  <body{{ attributes.addclass(body_classes) }}>
    {#
Keyboard navigation/accessibility link to main content section in
page.html.twig.
#}
    <div class="skiplinks">
      <a href="#main" class="skiplinks__link visually-hidden focusable">{{ 'Skip to main content'|t }}</a>
    </div>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
